{{#> layout }}
  {{#with entry}}
    <div class="box">
      <p><a href="{{name}}.html">&gt; {{title}}</a></p>
      <hr>
      <div class="content">
        {{{html}}}
      </div>
      <hr>
      <p><small><em>{{createdAt}}</em></small></p>
    </div>
  {{/with}}
{{/layout}}