{{#> layout }}
  {{#each entries}}
    <section class="box">
      <a href="{{name}}.html">
        <p><small><em>{{createdAt}}</em></small></p>
        <h1 class="title">{{title}}</h1>
        <p class="subtitle">{{description}}</p>
      </a>
    </section>
  {{/each}}
{{/layout}}